@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*  importei a fonte da netflix   */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');



/*  declarei variáveis   */
:root{
    --vermelho:#E50914;
    --preto:#141414; 
}
/*  zerei algumas configs   */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  elementos da base   */
body{
    background-color: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

header .container{
    display: flex;
    flex-direction: row;   /*um ao lado do outro padrão do display flex*/
    align-items: center;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
}

header .logo{
    color: var(--vermelho);
    font-size: 90px;
    /*  FONTE DA NETFLIX   */
    font-family: 'Bebas Neue', cursive;
    
}
/*  utilizei pra acessar sem criar classe   */
header nav a{
    text-decoration: none;
    color: #aaa;
    background-color: none;
    margin-right: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
/*  caso o mouse passe por cimm ele muda de cor   */
header nav a:hover{
    color: #fff;
}

/*  filme principal   */

.principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url("https://www.scdn.co/i/_global/open-graph-default.png");
    background-size: auto, 50%;
    height: 400px;
    display: flex;
    flex-direction: column; /*  um embaixo do outro   */
    justify-content: center;
    align-items: flex-start;
}

.principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    
}

.titulo{
    font-size: 45px;
    margin-top: 15%;
}

.botao{
    background-color: rgb(255, 255, 255);
    color: #fff;
    border: none; 
    padding: 15px 50px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .15s ease all;
    

    /*  efeito de vidro "glassmorphism   */
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /*  efeito de sombra embaixo   */
    box-shadow: 0px 10px 10px 8px rgba(0,0,0,0.1);

    /*  efeito de movimentação pra cima e baixo   */
    animation: float 3s ease-in-out infinite; 
}
@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{transform: translateY(-25px);
    }
    100%{
        transform: translateY(0);
    
    }

}

/*  efeito quando passar o mouse, ainda com vidro só que mais escuro   */
.botao:hover{
   background: rgba(255, 255, 255, 0.385);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);       
}

.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 30px;
    margin-right: 10px;
}

/*  pra se adaptar quando a tela tiver menor   */
.principal .container{
    width: 70%;
    margin-bottom: 50px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 15px;
}

